.form-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  font-size: 15px;
}

.submit-btn {
  margin-top: 10px;
  text-align: center;
}
